footer {
  background-color: rgb(90, 90, 90);
  padding-top: 25px;
  padding-bottom: 25px;
}

footer p,
#miniport-link {
  color: rgb(163, 163, 163);
  text-shadow: -1px -1px 0px #272727;
}

footer h3 {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0px #373737;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-icons {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: rgb(255, 255, 255);
}

.contact-icon-area {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.contact-icon-area a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon-area:hover {
  cursor: pointer;
  background-color: #404040;
}

.feather {
  width: 30px;
  height: auto;
}

.contact-line,
.copyright-line {
  border: none;
  background-color: rgb(49, 49, 49);
}

.contact-line {
  width: 50%;
  height: 1px;
  box-shadow: 0px 1px 0px rgb(144, 144, 144);
}

.copyright {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.copyright p {
  padding-left: 10px;
  padding-right: 10px;
}

.copyright-line {
  width: 1px;
  height: 15px;
  box-shadow: 1px 0px 0px rgb(144, 144, 144);
}

@media (max-width: 820px) {
  .copyright {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .copyright-line {
    display: none;
  }

  .copyright {
    flex-direction: column;
    gap: 0;
  }

  .copyright p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}