.top,
.skills,
.portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
}

.top {
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

.top-image {
  border-radius: 100px;
  width: 200px;
  height: auto;
}

.top-text {
  width: 100%;
  margin-left: 30px;
  line-height: 30px;
}

.top-text p {
  color: rgb(75, 75, 75);
}

@media (max-width: 910px) {
  .top-content {
    flex-direction: column;
    text-align: center;
    width: 600px;
  }

  .top-image {
    margin-bottom: 10px;
  }

  .top-text {
    margin-left: 0;
  }
}

@media (max-width: 620px) {
  .top-content {
    width: 100%;
  }
}


.skills {
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-flexbox {
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 1400px;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.skills-content,
.portfolio-content {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-content-title,
.portfolio-content-title {
  margin-bottom: 50px;
}

/*Item width = (number of gaps × gap size) ÷ number of items*/
.skills-box {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(175, 175, 175);
  width: calc(33.33333% - 17px);
}

@media (max-width: 1440px) {
  .skills-flexbox {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .skills-flexbox {
    width: 1100px;
  }

  .skills-box {
    width: calc(50% - 13px);
  }
}

@media (max-width: 1130px) {
  .skills-flexbox {
    width: 100%;
  }
}

@media (max-width: 880px) {
  .skills-flexbox {
    width: 600px;
  }

  .skills-box {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .skills-flexbox {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  .skills-box {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .skills-box {
    width: 100%;
  }
}


.skills-box-image-area {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-box-image-container-godot {
  position: relative;
  height: 125px;
  width: 150px;
}

.skills-box-image-container-web {
  position: relative;
  height: 125px;
  width: 275px;
}

.skills-box-image-container-gears {
  position: relative;
  height: 130px;
  width: 123px;
}

.skills-box-image-container-statistics {
  position: relative;
  height: 120px;
  width: 140px;
}

.skills-box-image-container-work-ethic {
  position: relative;
  height: 130px;
  width: 130px;
}

.godot-logo,
.csharp-logo,
.html-logo,
.css-logo,
.js-logo,
.gears-icon,
.statistics-icon,
.work-ethic-icon {
  position: absolute;
  height: auto;
}

.godot-logo {
  width: 150px;
  top: -15px;
  left: -16px;
}

.csharp-logo {
  width: 100px;
  top: 35px;
  left: 64px;
}

.html-logo {
  width: 90px;
  top: 20px;
  left: 7px;
}

.css-logo {
  width: 90px;
  top: 20px;
  left: 90px;
}

.js-logo {
  width: 86px;
  top: 15px;
  left: 177px;
}

.gears-icon {
  width: 130px;
  top: 0px;
  left: -5px;
}

.statistics-icon {
  width: 130px;
  top: -4px;
  left: 5px;
}

.work-ethic-icon {
  width: 125px;
  top: 2px;
  left: 3px;
}

.skills-box-text-container {
  padding: 10px;
  line-height: 30px;
}

.skills-box-text-container p {
  color: rgb(75, 75, 75);
  line-height: 25px;
}

.skills-box-title {
  margin-top: 0;
}



.portfolio {
  background-color: rgb(243, 243, 243);
}

.portfolio-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 425px 425px 425px;
  gap: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 1400px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1280px) {
  .portfolio-grid {
    grid-template-columns: 450px 450px;
  }
}

@media (max-width: 1010px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 880px) {
  .portfolio-grid {
    grid-template-columns: 475px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 530px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .portfolio-grid {
    padding-left: 0;
    padding-right: 0;
  }
}

.project-box {
  background-color: white;
  border: 1px solid rgb(175, 175, 175);
}

.project-box-image-container {
  height: 200px;
  background-color: aqua;
}

.project-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-box-text-container {
  padding: 10px;
  line-height: 30px;
}

.project-box-text-container p {
  color: rgb(75, 75, 75);
}

.project-box-title {
  margin-top: 10px;
}