.top,
.skills,
.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}

.top {
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-image {
  border-radius: 100px;
  width: 200px;
  height: auto;
}

.top-text {
  width: 600px;
  margin-left: 30px;
  line-height: 20px;
}


.skills {
  background-color: rgb(224, 224, 224);
  height: 600px;
  border-bottom: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-content-title {
  margin-bottom: 50px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 25px;
  justify-content: center;
}

.skills-box {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.skills-box-image-container {
  position: relative;
  height: 150px;
}

.godot-logo,
.csharp-logo,
.html-logo,
.css-logo,
.js-logo,
.gears-icon {
  position: absolute;
  height: auto;
}

.godot-logo {
  width: 150px;
  top: 0;
  left: 50px;
}

.csharp-logo {
  width: 100px;
  top: 50px;
  left: 130px;
}

.html-logo {
  width: 90px;
  top: 30px;
  left: 15px;
}

.css-logo {
  width: 90px;
  top: 30px;
  left: 100px;
}

.js-logo {
  width: 190px;
  top: 25px;
  left: 140px;
}

.gears-icon {
  width: 130px;
  top: 10px;
  left: 80px;
}

.skills-box-text-container {
  padding: 10px;
  line-height: 20px;
}

.skills-box-text-container p {
  color: rgb(75, 75, 75);
}

.skills-box-title {
  margin-top: 0;
}



.portfolio {
  background-color: rgb(243, 243, 243);
  height: 1400px;
}