footer {
  background-color: rgb(145, 145, 145);
  padding-top: 25px;
  padding-bottom: 25px;
}

footer p {
  color: rgb(39, 39, 39);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-icons {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}

.feather {
  width: 30px;
  height: auto;
}

.contact-line,
.copyright-line {
  border: 1px solid rgb(146, 146, 146);
  background-color: rgb(49, 49, 49);
}

.contact-line {
  width: 50%;
  height: 1px;
}

.copyright {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright-line {
  width: 2px;
  height: 15px;
}

#miniport-link {
  color: rgb(39, 39, 39);
}