.top,
.skills,
.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}

.top {
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-image {
  border-radius: 100px;
  width: 200px;
  height: auto;
}

.top-text {
  width: 600px;
  margin-left: 30px;
  line-height: 20px;
}


.skills {
  background-color: rgb(224, 224, 224);
  border-bottom: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-flexbox {
  flex-wrap: wrap;
  width: 1106px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.skills-content,
.portfolio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-content-title,
.portfolio-content-title {
  margin-bottom: 50px;
}

.skills-grid {
  grid-template-columns: 350px 350px 350px;
  gap: 25px;
}

.skills-box {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  width: 350px;
}

.skills-box-image-area {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-box-image-container-godot {
  position: relative;
  height: 125px;
  width: 150px;
}

.skills-box-image-container-web {
  position: relative;
  height: 125px;
  width: 275px;
}

.skills-box-image-container-gears {
  position: relative;
  height: 130px;
  width: 123px;
}

.skills-box-image-container-statistics {
  position: relative;
  height: 120px;
  width: 140px;
}

.skills-box-image-container-work-ethic {
  position: relative;
  height: 130px;
  width: 130px;
}

.godot-logo,
.csharp-logo,
.html-logo,
.css-logo,
.js-logo,
.gears-icon,
.statistics-icon,
.work-ethic-icon {
  position: absolute;
  height: auto;
}

.godot-logo {
  width: 150px;
  top: -15px;
  left: -16px;
}

.csharp-logo {
  width: 100px;
  top: 35px;
  left: 64px;
}

.html-logo {
  width: 90px;
  top: 20px;
  left: 7px;
}

.css-logo {
  width: 90px;
  top: 20px;
  left: 90px;
}

.js-logo {
  width: 185px;
  top: 15px;
  left: 127px;
}

.gears-icon {
  width: 130px;
  top: 0px;
  left: -5px;
}

.statistics-icon {
  width: 130px;
  top: -4px;
  left: 5px;
}

.work-ethic-icon {
  width: 125px;
  top: 2px;
  left: 3px;
}

.skills-box-text-container {
  padding: 10px;
  line-height: 20px;
}

.skills-box-text-container p {
  color: rgb(75, 75, 75);
}

.skills-box-title {
  margin-top: 0;
}



.portfolio {
  background-color: rgb(243, 243, 243);
}

.portfolio-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 350px 350px 350px;
  gap: 25px;
}

.project-box {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.project-box-image-container {
  height: 200px;
  background-color: aqua;
}

.project-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-box-text-container {
  padding: 10px;
  line-height: 20px;
}

.project-box-text-container p {
  color: rgb(75, 75, 75);
}

.project-box-title {
  margin-top: 10px;
}